################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveSplit.SteamWorldDig.Randomizer/v15
/bin
/obj
/LiveSplit.SteamWorldDig.csproj.user
